* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

/* Navbar*/
.bg-nacho {
  background-color: rgba(10, 4, 1, 0.518);
  position: sticky;
  top: 0%;
  z-index: 1;
}
.bg-nacho div .tx-align {
  text-align: center;
}
.bg-nacho div .tx-align .links {
  font-family: "Courgette";
  color: white !important;
  z-index: 1;
}

/* fin Navbar*/
/* General */
.Titulos {
  text-align: center;
  font-family: "Courgette";
}

.subtitulos {
  font-family: "Courgette";
}

/* Fin general */
/* banner */
.img-1, .img-2, .img-3 {
  width: 100%;
}

.prioridad-banner {
  z-index: 0 !important;
}

/* Fin banner */
/* Nosotros */
.flex__nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.flex__nosotros .bg__nosotros-img {
  background-color: rgb(61, 6, 61);
  width: 400px;
}
.flex__nosotros .bg__nosotros-img .img-nosotros {
  width: 100%;
}
.flex__nosotros .bg__nosotros-img .deco, .flex__nosotros .bg__nosotros-img .deco-titulo {
  color: gold;
}
.flex__nosotros .bg__nosotros-img .deco {
  margin: 0px 20%;
  padding: 0% 0% 5% 0%;
}
.flex__nosotros .bg__nosotros-img .deco-titulo {
  padding-top: 5%;
  font-size: 20px;
  font-family: "Courgette";
}
.flex__nosotros .bg__nosotros-img .txt__nosotros {
  color: white;
  font-family: "Edu VIC WA NT Beginner";
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
}
@media only screen and (max-width: 480px) {
  .flex__nosotros .bg__nosotros-img .deco-titulo {
    font-size: 15px;
  }
  .flex__nosotros .bg__nosotros-img .txt__nosotros {
    font-size: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .flex__nosotros .bg__nosotros-img {
    width: 50%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1299px) {
  .flex__nosotros .bg__nosotros-img {
    width: 250px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1700px) {
  .flex__nosotros .bg__nosotros-img {
    width: 25%;
  }
}

@media only screen and (max-width: 480px) {
  .flex__nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* Fin Nosotros */
/* Variedades */
.bg__variedades-img {
  background-color: white;
  border-radius: 2%;
  margin: 20px;
  border: 1px solid black;
}
.bg__variedades-img .img-variedades {
  border-radius: 2%;
}
@media only screen and (max-width: 480px) {
  .bg__variedades-img .img-variedades {
    height: 200px;
  }
}

.links-2 {
  text-decoration: none;
  color: black;
}

/* Fin Variedades */
/* Shop-index.html*/
.bg__img-shop {
  background-image: url(../../multimedia/background-var.jpg);
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: gray;
  color: white;
  background-blend-mode: multiply;
}
.bg__img-shop .descripciones {
  font-family: "Edu VIC WA NT Beginner";
  text-align: start;
  padding-right: 5%;
}
@media only screen and (max-width: 480px) {
  .bg__img-shop .descripciones {
    font-size: 10px;
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
  }
  .bg__img-shop .icono-shop {
    height: 40px;
  }
  .bg__img-shop .flex-shop {
    display: flex;
    flex-direction: column;
  }
  .bg__img-shop .conjunto_shop {
    text-align: center;
    padding-top: 5%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 990px) {
  .bg__img-shop .descripciones {
    padding-right: 45%;
  }
}

/* Fin shop-index.html*/
/* section reservas*/
.mapa {
  width: 100%;
  height: 100%;
  min-height: 355px;
}

.contact-form-container {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  padding: 17px 30px 40px;
  margin-top: -100px;
  width: 25%;
  margin-left: 38%;
  border: 1px solid gray;
}
.contact-form-container .h2-formulario {
  font-size: 30px;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  .contact-form-container .h2-formulario {
    font-size: 15px;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-form-container .h2-formulario {
    font-size: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .contact-form-container .h2-formulario {
    font-size: 25px;
  }
}
.contact-form-container .form-input {
  font-size: 14px;
  width: 100%;
  background: #fcfcfc;
  border: 1px solid #eceded;
  padding: 10px 20px;
  margin-bottom: 15px;
  color: #3e464b;
}
.contact-form-container .textarea {
  max-width: 100%;
  min-height: 25px;
  max-height: 100px;
}
@media only screen and (max-width: 480px) {
  .contact-form-container .form-input {
    font-size: 5px;
    margin-bottom: 2px;
    padding: 5px 5px;
  }
  .contact-form-container .textarea {
    max-width: 100%;
    min-height: 5px;
    max-height: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-form-container .form-input {
    font-size: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .contact-form-container .form-input {
    font-size: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
  }
}

@media only screen and (max-width: 480px) {
  .mapa {
    min-height: 200px;
  }
  .contact-form-container {
    margin-top: 0px;
    width: 50%;
    margin-left: 25%;
    padding: 10px 15px 15px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contact-form-container {
    width: 50%;
    margin-left: 24%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1440px) {
  .contact-form-container {
    width: 30%;
    margin-left: 35%;
  }
}
/* Fin section reserva*/
/* Pagina shop.html */
.card-shop {
  width: 400px;
  border: 1px solid #aa9d8c;
  padding: 2%;
}
.card-shop .img-cafe, .card-shop .img-capsula, .card-shop .img-cafetera {
  width: 100%;
}
.card-shop .nombres {
  font-size: 25px;
  font-weight: 900;
  margin-top: 5%;
}
.card-shop .des-cafe {
  font-family: "Edu VIC WA NT Beginner";
  margin: 10%;
}
.card-shop .precio {
  font-weight: 500;
  font-size: xx-large;
  color: #aa9d8c;
  margin-bottom: 5%;
}
@media only screen and (max-width: 480px) {
  .card-shop .nombres {
    font-size: 10px;
    font-weight: 900;
    margin: 0px;
    margin-top: 5%;
  }
  .card-shop .des-cafe {
    font-size: 5px;
    margin: 5%;
  }
  .card-shop .precio {
    font-size: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1440px) {
  .card-shop .nombres {
    font-size: 13px;
    font-weight: 900;
  }
  .card-shop .des-cafe {
    font-size: 15px;
    padding-top: 1px;
  }
  .card-shop .precio {
    font-size: 25px;
  }
}

.card-shop:hover {
  transition: all 400ms ease;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.card-shop a {
  text-decoration: none;
  display: inline-block;
  padding: 12px 25px;
  margin-top: 20px;
  background: gray;
  border-radius: 4px;
  transition: all 400ms ease;
  color: white;
}

.card-shop a:hover {
  background: rgba(128, 128, 128, 0.765);
  color: white;
}

@media only screen and (max-width: 480px) {
  .card-shop {
    width: 100px;
  }
  .card-shop a {
    padding: 2px 10px;
    margin-top: 5px;
    border-radius: 4px;
    font-size: 5px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1440px) {
  .card-shop {
    width: 300px;
  }
  .card-shop a {
    padding: 10px 40px;
    margin-top: 5px;
    border-radius: 4px;
    font-size: 15px;
  }
}
/* Fin shop.html */
/*  Menu html */
.borde, .borde-2 {
  border: 1px solid #aa9d8c;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.descripciones-menu {
  font-family: "Edu VIC WA NT Beginner";
  font-size: 16px;
}

.padd-cafes {
  padding-top: 6%;
  padding-bottom: 6%;
}

@media only screen and (max-width: 767px) {
  .borde {
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  .borde-2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .descripciones-menu {
    font-family: "Edu VIC WA NT Beginner";
  }
}
/* fin menu html*/
/* Footer */
.flex-contenido-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: gray;
  align-items: center;
  color: white;
}
.flex-contenido-footer .contenido-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-contenido-footer .contenido-logos .logo-cafeteria {
  width: 60px;
  border-radius: 5%;
}
.flex-contenido-footer .contenido-logos .logos-redes {
  width: 30px;
  margin-top: 20px;
}
@media only screen and (max-width: 480px) {
  .flex-contenido-footer .contenido-logos .logo-cafeteria {
    width: 40px;
  }
  .flex-contenido-footer .contenido-logos .logos-redes {
    width: 15px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1440px) {
  .flex-contenido-footer .contenido-logos .logo-cafeteria {
    width: 75px;
  }
  .flex-contenido-footer .contenido-logos .logos-redes {
    width: 25px;
  }
}
.flex-contenido-footer .div__links {
  display: flex;
  flex-direction: column;
}
.flex-contenido-footer .div__links .links_a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: "Edu VIC WA NT Beginner";
}
@media only screen and (max-width: 480px) {
  .flex-contenido-footer .div__links .links_a {
    font-size: 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1440px) {
  .flex-contenido-footer .div__links .links_a {
    font-size: 14px;
  }
}
.flex-contenido-footer .footer_h6 {
  font-size: 14px;
  margin: 1%;
  font-family: "Courgette";
}
.flex-contenido-footer .contacto {
  font-size: 10px;
  font-family: "Edu VIC WA NT Beginner";
}
@media only screen and (max-width: 480px) {
  .flex-contenido-footer .contacto {
    font-size: 8px;
    margin: 1%;
  }
  .flex-contenido-footer .footer_h6 {
    font-size: 10px;
    margin: 1%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1440px) {
  .flex-contenido-footer .footer_h6 {
    font-size: 14px;
    margin: 1%;
  }
  .flex-contenido-footer .contacto {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .flex-contenido-footer {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1440px) {
  .flex-contenido-footer {
    justify-content: space-around;
  }
}
/* Fin Footer*/

/*# sourceMappingURL=style.css.map */
