* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(243, 213, 200, 0.268) !important;
}

/* Navbar*/
.bg-nacho {
  background-color: rgba(10, 4, 1, 0.518);
  position: sticky;
  top: 0%;
  z-index: 1;
}
.bg-nacho div .tx-align {
  text-align: center;
}
.bg-nacho div .tx-align .links {
  font-family: "Courgette";
  color: white !important;
}

/* fin Navbar*/
/* General */
.Titulos {
  text-align: center;
  font-family: "Courgette";
}

.subtitulos {
  font-family: "Courgette";
}

/* Fin general */
/* banner */
.img-1, .img-2, .img-3 {
  width: 100%;
}

/* Fin banner */
/* Nosotros */
.flex__nosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.flex__nosotros .bg__nosotros-img {
  background-color: rgb(61, 6, 61);
  width: 400px;
}
.flex__nosotros .bg__nosotros-img .img-nosotros {
  width: 100%;
}
.flex__nosotros .bg__nosotros-img .deco, .flex__nosotros .bg__nosotros-img .deco-titulo {
  color: gold;
}
.flex__nosotros .bg__nosotros-img .deco {
  margin: 0px 20%;
  padding: 0% 0% 5% 0%;
}
.flex__nosotros .bg__nosotros-img .deco-titulo {
  padding-top: 5%;
  font-size: 20px;
}
.flex__nosotros .bg__nosotros-img .txt__nosotros {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
}
@media only screen and (max-width: 480px) {
  .flex__nosotros .bg__nosotros-img .deco-titulo {
    font-size: 15px;
  }
  .flex__nosotros .bg__nosotros-img .txt__nosotros {
    font-size: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .flex__nosotros .bg__nosotros-img {
    width: 50%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1299px) {
  .flex__nosotros .bg__nosotros-img {
    width: 250px;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1700px) {
  .flex__nosotros .bg__nosotros-img {
    width: 25%;
  }
}

@media only screen and (max-width: 480px) {
  .flex__nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* Fin Nosotros */
/* Variedades */
.bg__variedades-img {
  background-color: white;
  border-radius: 2%;
  margin: 20px;
}
.bg__variedades-img .img-variedades {
  border-radius: 2%;
}
@media only screen and (max-width: 480px) {
  .bg__variedades-img .img-variedades {
    height: 300px;
  }
}

.links-2 {
  text-decoration: none;
  color: black;
}

/* Fin Variedades */
/* Shop-index.html*/
.bg__img-shop {
  background-image: url(../../multimedia/background-var.jpg);
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: gray;
  color: white;
  background-blend-mode: multiply;
}
.bg__img-shop .descripciones {
  font-family: "Dancing Script";
  text-align: start;
  padding-right: 5%;
}
@media only screen and (max-width: 480px) {
  .bg__img-shop .descripciones {
    font-size: 10px;
    text-align: center;
    padding-right: 25%;
    padding-left: 25%;
  }
  .bg__img-shop .icono-shop {
    height: 40px;
  }
  .bg__img-shop .flex-shop {
    display: flex;
    flex-direction: column;
  }
  .bg__img-shop .conjunto_shop {
    text-align: center;
    padding-top: 5%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 990px) {
  .bg__img-shop .descripciones {
    padding-right: 45%;
  }
}

/* Fin shop-index.html*/
/* Pagina shop.html */
div .nombres {
  font-size: 35px;
  font-weight: 900;
}
div div .precio {
  font-weight: 500;
  font-size: xx-large;
  color: #aa9d8c;
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .img-cafe {
    height: 250px;
  }
  .img-capsula {
    height: 285px;
  }
  .img-cafetera {
    height: 229px;
  }
}
@media only screen and (max-width: 480px) {
  .img-cafe {
    height: 150px;
  }
  .des-cafe {
    font-size: 10px;
  }
  .nombres {
    font-size: 20px;
    font-weight: 900;
  }
  .img-capsula {
    height: 170px;
  }
  .img-cafetera {
    height: 133px;
  }
}
/* Fin shop.html */
/* Footer */
.mapa {
  width: 100%;
  height: 500px;
}

.padd-insta {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .infocontactanos {
    font-size: 12px;
  }
}
@media only screen and (max-width: 480px) {
  .infocontactanos {
    font-size: 9px;
  }
  .logo {
    width: 60px;
  }
  .infocontactanos__h6 {
    font-size: 13px;
  }
  .logos__redes {
    display: flex;
    flex-direction: column;
  }
  .logo__redes {
    width: 25px;
  }
  .padd-insta {
    padding-left: 0px;
    padding-right: 0px;
  }
  .mapa {
    height: 200px;
  }
}
@media only screen and (max-width: 767px) {
  .redes {
    font-size: 10px;
    font-weight: 800;
  }
}
/* Fin Footer*/
/*  Menu html */
.borde, .borde-2 {
  border: 1px solid #aa9d8c;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.descripciones-menu {
  font-family: "Dancing Script";
}

@media only screen and (max-width: 767px) {
  .borde {
    width: 200px;
    display: flex;
    flex-direction: column;
  }
  .borde-2 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .descripciones-menu {
    font-family: "Dancing Script", cursive;
  }
}
/* fin menu html*/

/*# sourceMappingURL=style.css.map */
