@import "base/colores";
@import "base/fuentes";

*{
    margin: 0;
    padding: 0;
}


body{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}


@import "components/navbar";


 /* General */

.Titulos{
    text-align: center;
    font-family: nth($fuentes, 1);
}

.subtitulos{
    font-family: nth($fuentes, 1);
}

/* Fin general */



/* banner */

.img-1,.img-2,.img-3{
    width: 100%;
}
.prioridad-banner{
    z-index: 0 !important;
}

/* Fin banner */

@import "components/secnosotros";
@import "components/secvariedades";
@import "components/sectshop";
@import "components/pagshop";
@import "components/footer";
@import "components/pagmenu";

