@import "base/colores";
@import "base/fuentes";




body{
    background-color: nth($colores, 1) !important;
}


@import "components/navbar";


 /* General */

.Titulos{
    text-align: center;
    font-family: nth($fuentes, 1);
}

.subtitulos{
    font-family: nth($fuentes, 1);
}

/* Fin general */



/* banner */

.img-1,.img-2,.img-3{
    width: 100%;
}

/* Fin banner */

@import "components/secnosotros";
@import "components/secvariedades";
@import "components/sectshop";
@import "components/pagshop";
@import "components/footer";
@import "components/pagmenu";

