/* Footer */

.flex-contenido-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: gray;
    align-items: center;
    color: white;

    .contenido-logos{
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-cafeteria{
            width: 60px;
            border-radius: 5%;
        }
        .logos-redes{
            width: 30px;
            margin-top: 20px;
        }
        @media only screen and (max-width:480px){
            .logo-cafeteria{
                width: 40px;
            }
              .logos-redes{
                width: 15px;
            }
        
        }
        @media only screen and (min-width: 481px) and (max-width:1440px){
            .logo-cafeteria{
                width: 75px;
            }
            
              .logos-redes{
                width: 25px;
            }
        }





    }
    .div__links{
        display: flex;
        flex-direction: column;

        .links_a{
            text-decoration: none;
            color: white;
            font-size: 15px;
            font-family: nth($fuentes, 2);
        }
        @media only screen and (max-width:480px){
            .links_a{
                font-size: 10px;
            }
        }

        @media only screen and (min-width: 481px) and (max-width:1440px){
            .links_a{
                font-size: 14px;
            }
        }

    }

    .footer_h6{
      font-size: 14px;
      margin: 1%;
      font-family: nth($fuentes, 1);
    }
    .contacto{
      font-size: 10px;
      font-family: nth($fuentes, 2);
    }

    @media only screen and (max-width:480px){
        .contacto{
          font-size: 8px;
          margin: 1%;
    }
      
        .footer_h6{
          font-size: 10px;
          margin: 1%;
        }
    }
    
    @media only screen and (min-width: 481px) and (max-width:1440px){
        .footer_h6{
            font-size: 14px;
            margin: 1%;
        }
          .contacto{
            font-size: 10px;
        }
    }

}
  
  
@media only screen and (max-width:480px){
    .flex-contenido-footer{
      justify-content: space-between;
    }
}
  
@media only screen and (min-width: 481px) and (max-width:1440px){
    .flex-contenido-footer{
      justify-content: space-around;
    }
}

/* Fin Footer*/