@import "../base/mapa";

/* Footer */

.mapa{
    width: 100%;
    height: 500px;
}





.padd-insta{
    padding-left: map-get($medidas, pl);
    padding-right: map-get($medidas, pr);
}
@media only screen and (min-width:481px) and (max-width:960px){      
    .infocontactanos{
        font-size: 12px;
    }
}





@media only screen and (max-width:767px){  
    .redes{
        font-size: 10px;
        font-weight: 800;
    }
}




@media only screen and (max-width:480px){
    
    .mapa{
        height: 200px;
    }
    
    
    
    .logo{
        width: 60px;
    }
    
    
    
    .logo__redes{
        width: 35px;
    }
    
    .logos__redes{
        display: map-get($medidas, flex-standard);
        flex-direction: map-get($medidas, dflex);
    }
    
    .padd-insta{
        padding-left: 10px;
        padding-right: 10px; 
    }
    
    
    
    .infocontactanos{
        font-size: 10px;
        
        .infocontactanos__h6{
            font-size: 12px;    
        }
    }

    .redes{
        font-size: 0px;
    }

}



/* Fin Footer*/