/* Pagina shop.html */



.card-shop{
    width: 400px;
    border: 1px solid nth($colores, 4);
    padding: 2%;

    .img-cafe,.img-capsula ,.img-cafetera{
        width: 100%;
    }
    .nombres{
        font-size: 25px;
        font-weight: 900;
        margin-top: 5%;     
    }
    .des-cafe{
        font-family: nth($fuentes, 2);
        margin: 10%;
    }
    .precio{
        font-weight: 500;
        font-size: xx-large;
        color: nth($colores, 4);
        margin-bottom: 5%;
    }
    @media only screen and (max-width:480px){
        
        .nombres{
            font-size: 10px;
            font-weight: 900;
            margin: 0px;
            margin-top: 5%;
        }
        .des-cafe{
            font-size: 5px;
            margin: 5%;
        }  
        .precio{
            font-size: 10px;
        }
    }
    @media only screen and (min-width: 481px) and (max-width: 1440px){
        .nombres{
            font-size: 13px;
            font-weight: 900;
        }
        .des-cafe{
            font-size: 15px;
            padding-top: 1px;
        }  
        .precio{
            font-size: 25px;
        }
    }
    
}


.card-shop:hover{
    transition: all 400ms ease;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.card-shop a{
    text-decoration: none;
    display: inline-block;
    padding: 12px 25px;
    margin-top: 20px;
    background: gray;
    border-radius: 4px;
    transition: all 400ms ease;
    color: white;
}
.card-shop a:hover{
    background: rgba(128, 128, 128, 0.765);
    color: white
}

@media only screen and (max-width:480px){
    .card-shop{
        width: 100px;
    }
    .card-shop a{
        padding: 2px 10px;
        margin-top: 5px;
        border-radius: 4px;
        font-size: 5px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1440px){
    .card-shop{
        width: 300px;
    }
    .card-shop a{
        padding: 10px 40px;
        margin-top: 5px;
        border-radius: 4px;
        font-size: 15px;
    }
}



/* Fin shop.html */