/* Pagina shop.html */





.card-shop{
    width: 400px;
    border: 1px solid nth($colores, 4);
    padding: 2%;

    .img-cafe,.img-capsula ,.img-cafetera{
        width: 100%;
    }
    .des-cafe{
        font-family: nth($fuentes, 2);
        padding: 5% 10px;
    }
    .nombres{
        font-size: 25px;
        font-weight: 900;     
    }
    .precio{
        font-weight: 500;
        font-size: xx-large;
        color: nth($colores, 4);
    }
    @media only screen and (max-width:480px){
        
        .des-cafe{
            font-size: 7px;
            padding-top: 1px;
        }  
        .nombres{
            font-size: 15px;
            font-weight: 900;
        }
        .precio{
            font-size: smaller;
        }
    }
    
}





.card-shop:hover{
    transition: all 400ms ease;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.card-shop a{
    text-decoration: none;
    display: inline-block;
    padding: 12px 25px;
    margin-top: 10px;
    background: gray;
    border-radius: 4px;
    transition: all 400ms ease;
    color: white;
}
.card-shop a:hover{
    background: rgba(128, 128, 128, 0.765);
    color: white
}

@media only screen and (max-width:480px){
    .card-shop{
        width: 150px;
    }
    .card-shop a{
        padding: 6px 15px;
        margin-top: 5px;
        border-radius: 4px;
        font-size: 10px;
    }
}



/* Fin shop.html */