/*  Menu html */
@import "../base/extend";


.borde-2{
    @extend %border;
}

.borde{
    @extend %border;    
}
    
.descripciones-menu{  
        font-family: nth($fuentes, 2);
        font-size: 16px;
}
    
.padd-cafes{
    padding-top: 6%;
    padding-bottom: 6%
}   
  
@media only screen and (max-width:767px){
        
        .borde{
            width: 200px;
            display: flex;
            flex-direction:column
        }
        
        .borde-2{
        
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
        } 
        
        
        .descripciones-menu{
            
            font-family: 'Dancing Script', cursive;
        }
}
    
    
/* fin menu html*/