/* Pagina shop.html */
@import "../base/mixin";

div{
    
    
    
    
    .nombres{
        font-size: 35px;
        font-weight: 900;
        
        
    }
    
    div{
        
        
        
        .precio{
            font-weight: 500;
            font-size: xx-large;
            color: nth($colores, 4);
        }
    }
}

@media only screen and (min-width:481px) and (max-width:960px){
    .img-cafe{
        @include cambio(250px);
    }
    
    .img-capsula{
        @include cambio (285px);
    }
    
    
    .img-cafetera{
        @include cambio (229px);
    }
}

@media only screen and (max-width:480px){
    .img-cafe{
        @include cambio (150px);
        
    }
    
    .des-cafe{
        font-size: 10px;
    }
    
    
    .nombres{
        font-size: 20px;
        font-weight: 900;
    }
    .img-capsula{
        @include cambio (170px);
    }
    
    
    .img-cafetera{
        @include cambio (133px);
    }
    
}





/* Fin shop.html */