/* Variedades */

.bg__variedades-img{
    background-color: nth($colores, 5);
    border-radius: 2%;
    margin: 20px;
    border: 1px solid nth($colores, 7);
    .img-variedades{
        border-radius: 2%;
    }


    @media only screen and (max-width:480px){
        .img-variedades{
            height: 200px;
        }    
    }
    @media only screen and (min-width:481px) and (max-width: 1440px){
        .img-variedades{
            height: 350px;
        }
    }
}
.links-2{
    text-decoration: none;
    color: nth($colores, 7); 
}

/* Fin Variedades */